<div class="vf-grid vf-grid__col-4">
  <div class="vf-grid__col--span-3">
    <section class="vf-content" style="margin-bottom: 8rem">
      <div class="vf-grid vf-grid__col-4">
        <h1 class="vf-text vf-text-heading--4">About eLwazi</h1>
        <div class="vf-grid__col--span-3">
          <p>
            The eLwazi consortium is a collaboration across multiple
            institutions aiming to develope an Open Data Science Platform funded
            through the DSI-Africa Initiative. eLwazi is adapted from ulwazi, a
            Nguni word for “knowledge” or “information”, and olwazi, meaning big
            rock in Luganda. The aim of eLwazi is to provide an African Open
            Data Science Platform and associated resources to support the
            Harnessing Data Science for Health Discovery and Innovation in
            Africa (DS-I Africa) consortium and beyond. The vision of the eLwazi
            is to provide users with a flexible environment for 1) depositing,
            sharing, and accessing data, 2) selecting data-specific tools and
            methods, 3) Deploying tools and workflows suited to the African
            context, to facilitate novel discoveries for health.
          </p>
        </div>

        <h1 class="vf-text vf-text-heading--4">Project Catalogue</h1>
        <div class="vf-grid__col--span-3">
          <p>
            The project catalogue lists down projects belonging to eLwazi and
            DS-I Africa.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
