<footer class="vf-hero | vf-u-fullbleed site-footer">
  <div class="container-fluid elwazi-footer-content">
    <div class="site-footer__bottom">
      <section class="row region region-footer-fifth">
        <div
          id="block-homepageblockelwazifooter"
          class="block block-block-content block-block-contenta273ae26-95f5-4943-9c28-b08ac757b5f6"
        >
          <div class="content">
            <div
              class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
            >
              <div
                class="container-fluid bg-warm-red text-white py-4"
                id="contact_us"
              >
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p>
                      <i>eLwazi Open Data Science Platform</i> is supported by
                      the Office Of The Director, National Institutes Of Health
                      (OD), National Institution of Biomedical Imaging and
                      Bioengineering, and NIH award number 1 U2C EB 032224 - 01.
                      The content of this website is solely the responsibility
                      of the authors and does not necessarily represent the
                      official views of the National Institutes of Health.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3 d-flex align-items-center">
                        <img
                          class="text-start"
                          height="40px"
                          src="assets/eLwazi-logo-in-white.svg"
                        />
                      </div>

                      <div
                        class="col-md-3 text-yellow d-flex align-items-cente mt-9"
                      >
                        <a
                          class="text-black text-decoration-none mr-10"
                          href="https://www.facebook.com/profile.php?id=100085234135742"
                          target="_blank"
                        >
                          <i
                            class="fab fa-facebook-f text-yellow"
                            style="font-size: 17px"
                          ></i
                        ></a>
                        <a
                          class="text-black text-decoration-none mr-10"
                          href="https://www.linkedin.com/company/elwazi-open-data-science-platform/"
                          target="_blank"
                        >
                          <i
                            class="fab fa-linkedin-in text-yellow align-bottom"
                            style="font-size: 17px"
                          >
                          </i
                        ></a>
                        <a
                          class="text-black text-decoration-none mr-10"
                          href="https://twitter.com/eLwazi_ODSP"
                          target="_blank"
                        >
                          <i
                            class="fab fa-twitter text-yellow align-bottom"
                            style="font-size: 17px"
                          ></i
                        ></a>
                        <a
                          class="text-decoration-none text-yellow mr-10"
                          href="https://helpdesk.elwazi.org/"
                          >Helpdesk</a
                        >
                      </div>

                      <div
                        class="col-md-3 text-yellow d-flex align-items-center mt-9"
                      >
                        ©2022 eLwazi.org
                      </div>

                      <div
                        class="col-md-3 text-yellow text-end d-flex align-items-center mt-9"
                      >
                        Terms - Privacy - Policy &amp; Safety
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
