<header id="header" class="header" role="banner" aria-label="Site header">
  <div style="height: 66px"></div>
  <nav
    class="navbar elwazi_main_menu navbar-expand-lg affix"
    id="navbar-main"
    data-toggle="affix"
  >
    <div class="container">
      <section class="region region-header">
        <a href="/" title="Home" rel="home" class="navbar-brand">
          <img
            src="/sites/default/files/Logo%20-%20primary%20on%20white_Transparent%20Background.png"
            alt="Home"
            class="img-fluid d-inline-block align-top"
          />
        </a>
      </section>

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#CollapsingNavbar"
        aria-controls="CollapsingNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="CollapsingNavbar"
      >
        <nav
          role="navigation"
          aria-labelledby="block-e-lwazi-main-menu-menu"
          id="block-e-lwazi-main-menu"
          class="block block-menu navigation menu--main"
        >
          <h2 class="visually-hidden" id="block-e-lwazi-main-menu-menu">
            Main navigation
          </h2>

          <ul class="clearfix nav navbar-nav">
            <li class="nav-item">
              <a
                href="/"
                class="nav-link nav-link-- is-active"
                data-drupal-link-system-path="<front>"
                >Home</a
              >
            </li>
            <li class="nav-item menu-item--expanded dropdown">
              <a
                href="/about_page"
                class="nav-link dropdown-toggle nav-link--about-page"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-haspopup="true"
                data-drupal-link-system-path="about_page"
                >About</a
              >
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <a
                    href="/about_platform"
                    class="nav-link--about-platform"
                    data-drupal-link-system-path="about_platform"
                    >Platform</a
                  >
                </li>
                <li class="dropdown-item">
                  <a
                    href="/about_page"
                    class="nav-link--about-page"
                    data-drupal-link-system-path="about_page"
                    >Consortium</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item menu-item--expanded dropdown">
              <a
                href="/all_trainings"
                class="nav-link dropdown-toggle nav-link--all-trainings"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-haspopup="true"
                >User Support &amp; Training</a
              >
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <a
                    href="/user-support"
                    class="nav-link--user-support"
                    data-drupal-link-system-path="node/17"
                    >User Support</a
                  >
                </li>
                <li class="dropdown-item">
                  <a
                    href="/training"
                    class="nav-link--training"
                    data-drupal-link-system-path="training"
                    >Training</a
                  >
                </li>
                <li class="dropdown-item">
                  <a
                    href="/page-under-construction"
                    class="nav-link--page-under-construction"
                    data-drupal-link-system-path="page-under-construction"
                    >Additional resources</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item menu-item--expanded dropdown">
              <a
                href="/all_news_events"
                class="nav-link dropdown-toggle nav-link--all-news-events"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-haspopup="true"
                data-drupal-link-system-path="all_news_events"
                >News &amp; Events</a
              >
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <a
                    href="/all_news_events"
                    class="nav-link--all-news-events"
                    data-drupal-link-system-path="all_news_events"
                    >News</a
                  >
                </li>
                <li class="dropdown-item">
                  <a
                    href="/events-under-construction"
                    class="nav-link--events-under-construction"
                    data-drupal-link-system-path="events-under-construction"
                    >Events</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                href="https://helpdesk.elwazi.org/"
                class="nav-link nav-link-https--helpdeskelwaziorg-"
                >Helpdesk</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/elwazi_contacts"
                class="nav-link nav-link--elwazi-contacts"
                data-drupal-link-system-path="elwazi_contacts"
                >Contact us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</header>
