<!--<p class="vf-text-body vf-text-body&#45;&#45;1">Projects and available data types</p>-->

<app-filters
  *ngIf="projects"
  [projectName]="projects.availableProjects"
  [country]="projects.availableCountries"
  (selectedProjectName)="filterByProjectName($event)"
  (selectedCountry)="filterByCountry($event)"
  (selectedDataType)="filterByDataType($event)"
>
</app-filters>

<svg class="vf-icon-sprite vf-icon-sprite--tables" display="none">
  <defs>
    <g id="vf-table-sortable">
      <path
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="18"
        d="M6 0l6 8H0zM6 18l6-8H0z"
        fill-rule="evenodd"
      />
    </g>
  </defs>
</svg>

<ng-container *ngIf="projects; else loading">
  <div style="display: flex; justify-content: space-between">
    <p class="vf-text-body vf-text-body--3">
      Showing <strong>{{ projects.items.length }}</strong> out of
      <strong>{{ projects.totalItems }}</strong> projects
    </p>
    <a
      (click)="saveSearchResultsAsTsv()"
      class="vf-link"
      href="javascript:void(0)"
    >
      Export results as .tsv
    </a>
  </div>

  <div class="table-horizontal-scroll-container">
    <table
      class="vf-table vf-table--sortable vf-table--striped"
      id="published-table"
    >
      <thead class="vf-table__header">
        <tr class="vf-table__row">
          <!--        <th class="vf-table__heading" scope="col">-->
          <!--          <button (click)="toggleDateSort()" class="vf-button vf-button&#45;&#45;sm vf-button&#45;&#45;icon">-->
          <!--            <span>Date added</span>-->
          <!--            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"-->
          <!--                 version="1.1" preserveAspectRatio="xMinYMin">-->
          <!--              <use xlink:href="#vf-table-sortable"></use>-->
          <!--            </svg>-->
          <!--          </button>-->
          <!--        </th>-->
          <th class="vf-table__heading" scope="col">Project</th>
          <th class="vf-table__heading" scope="col">Regions</th>
          <th class="vf-table__heading" scope="col">Demographic</th>
          <th class="vf-table__heading" scope="col">Surveillance</th>
          <th class="vf-table__heading" scope="col">Clinical/ Phenotype</th>
          <th class="vf-table__heading" scope="col">Environmental/ Exposure</th>
          <th class="vf-table__heading" scope="col">Climate Data</th>
          <th class="vf-table__heading" scope="col">Genomic (Human)</th>
          <th class="vf-table__heading" scope="col">
            Genomic (Pathogen/ Infectious)
          </th>
          <th class="vf-table__heading" scope="col">Image Data</th>
          <th class="vf-table__heading" scope="col">Other</th>
          <th class="vf-table__heading" scope="col">License</th>
        </tr>
      </thead>

      <tbody class="vf-table__body" *ngIf="projects">
        <tr class="vf-table__row" *ngFor="let project of projects.items">
          <!--        <td class="vf-table__cell">{{ project.last_updated }}</td>-->
          <td class="vf-table__cell">
            <a [href]="project.website">{{ project.cohort_name }}</a>
            <!--            <p style="margin-top: 0">{{ project.cohort_name }}</p>-->
            <!--          <app-author-names *ngIf="project.countries.length" [authors]="project.countries"></app-author-names>-->
            <!--          <span *ngIf="!project.survey_administration.length">-->
            <!--            survey_administration missing-->
            <!--          </span>-->
            <!--          <list-of-links-->
            <!--            [links]="mapPublicationLinks(project.survey_administration)"-->
            <!--          ></list-of-links>-->
          </td>
          <td class="vf-table__cell">
            <ul class="comma-list">
              <li *ngFor="let country of project.countries">{{ country }}</li>
            </ul>
            <p *ngIf="!project.countries.length">-</p>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.demographic"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.demographic"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.surveillance"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.surveillance"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.clinical"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.clinical"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.environmental"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.environmental"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.climate_data"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.climate_data"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.genomic_human"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.genomic_human"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.genomic_pathogen"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.genomic_pathogen"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <span *ngIf="project.available_data_types.image_data"
              ><i class="fa fa-check" style="font-size: 17px"></i
            ></span>
            <span *ngIf="!project.available_data_types.image_data"
              ><i class="fa fa-times" style="font-size: 17px"></i
            ></span>
          </td>
          <td class="vf-table__cell">
            <ul class="comma-list">
              <li *ngFor="let dataType of project.available_data_types.other">
                {{ dataType }}
              </li>
            </ul>
            <p *ngIf="!project.available_data_types.other.length">-</p>
          </td>
          <td class="vf-table__cell">
            <p style="margin-top: 0">{{ project.license }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    (page)="changePage($event)"
    [itemsPerPage]="projects.itemsPerPage"
    [totalItems]="projects.totalItems"
    [currentPage]="projects.currentPage"
  ></app-pagination>
</ng-container>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<div class="updateDate">
  Last updated on
  {{ lastUpdated ? lastUpdated.date.toDateString() : "loading" }}
</div>
<p>
  Have feedback or want to suggest a project for the eLwazi DS-I Africa Project
  Catalogue?
  <a
    class="vf-link"
    href="mailto:{{
      feedbackEmail
    }}?subject=Feedback about the eLwazi DS-I Africa Project Catalogue"
    target="_blank"
    >Email eLwazi team</a
  >.
</p>
